@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }
}

/* ✅ Move these outside @layer */
.navbar__link {
  position: relative;
}

.navbar__link:hover {
  color: #ff8f9c;
  transition: all 0.4s;
}

.navbar__link::after {
  position: absolute;
  content: '';
  background-color: #ff8f9c;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -5px;
  scale: 0;
  transform-origin: left;
  transition: all 0.4s;
}

.navbar__link:hover::after {
  scale: 1;
}
